/* @override 
	http://libregraphicsmeeting.org/2016/wp/wp-content/themes/lgm2016/css/dev/20-general.css
	http://lgm2016.4o4.ch/wp/wp-content/themes/lgm2016/css/dev/20-general.css */

/* Body Background */

/* @group Background Styles */

html {

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#12a16d+0,e238c7+100 */
background: #12a16d; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #12a16d 0%, #e238c7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #12a16d 0%,#e238c7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #12a16d 0%,#e238c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a16d', endColorstr='#e238c7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}

html {
/*	background-image: url('../../../../design/website/background/GIMP-glitch-background-v3.jpg');*/
	background-size: 100% auto;
}

body {
/*	background: none;
	background-size: cover;*/

	background-image: url('../../../../design/website/background/GIMP-glitch-background-v2.jpg');
	background-size: 100% auto;
	background-attachment: fixed;
}

.site {
	background-color: transparent ;
	border-top: 0px;
	margin-top: 0px;
	padding-top: 0px;

/* reduce width */

	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
}

/* @end */

/* @group Link Colors */

a {
	color: #12a16d;
}

/* @end */

/* @group Site Header */

.site-banner {
	background-color: transparent;
	padding-top: 300px;
	background-image: url('../../../../design/website/banner/Webbanner-hidpi.png');
	background-size: 100% auto;
	padding-top: 28%;
}
.site-inner .site-header {
	margin-top: 0px;
	padding-top: 0px;
}

.site-header,
.site-header-main,
.site-content,
.site-footer {
	background-color: #fff;
}


.site-title {
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0.08em;
}

.logotype-lg,
.logotype-meeting-2016,
.logotype-london,
.logotype-date {
	display: block;
}

.logotype-meeting,
.logotype-london {
	color: #e238c7;
}

.logotype-lg {
	font-size: 160%;
}

.logotype-hyphen {
	display: none;
}

/* @end */

.primary-full {
	
}

/* @group Single Talk Page */

.talk-title-speakers {
	font-size: 80%;
	line-height: 1.5;
}

.biography {
	margin-top: 2em;
	font-style: italic;	
}

/* @end */

/* @group Tables */

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

table {
  background-color: transparent;
}

th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

.table .row-nr {
	width: 3em;
}

.table .row-name {
	width: 14em;
}

.table .row-actions {
	width: 12em;
}

/* @end */

/* @group schedule review */

.action {
	display: block;
	border: 3px solid #aaa;
	border-radius: 1em;
	float: left;
	clear: left;
	width: 6em;
	text-align: center;
	padding: 0.2em 0.2em 0.3em 0.2em;
	margin: 0.5em;
	cursor: pointer;
}

.pending-accept {
    color:green;
}
.pending-reject {
    color:red;
}

.pending-accept {
	border-color: #00c42a;
	background: #d1ffe2;
}

.pending-accept:hover {
	background-color: #66ff9e;
}

.pending-reject {
	border-color: #fb3b1e;
	background: #fedbd1;
}

.pending-reject:hover {
	background-color: #feb59f;
}

/* @end */
