@media only screen and (min-width: 900px) {
    article.post-472 div.threecol {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
    article.post-472 div.threecol p {
        display:inline-block;
        height:100px;
        overflow:hidden;
    }
}
