html {
	background-image: none;
	background: #12a16d; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #12a16d 0%, #e238c7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #12a16d 0%,#e238c7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #12a16d 0%,#e238c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a16d', endColorstr='#e238c7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body {
	background: none;
	background-image: none;
}

.schedule {
    display:	table-row;
    vertical-align:	top;
/*    background-color:	lightgray;*/
    font-size: 80%;
}

.schedule .day-title {
	text-align: right;
	text-transform: uppercase;
}

.schedule .day-span {
	font-size: 120%;
}

.day-title sup {
	font-size: 0.6em;
}

.schedule .day {
    width:	300px;
    display:	table-cell;
    vertical-align:	top;
}
.schedule .time {
    background-color:yellow;
    width:80px;
}
.schedule .time ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.schedule .time ul li{

}
.schedule .slot {
    /* overflow-y: hidden; */
/*            overflow-y: scroll;*/
/*    background-color: lightblue;*/
    margin-bottom: 1em;
    border: 1px solid #ddd;
}

.schedule ul.slot {
    list-style-type: none;
    padding:0;
    margin:0;
}

.schedule .dur-20 {
	height: 5em;
/*	border: 1px solid red;*/
}

.schedule .dur-40 {
	height: 10em;
/*	border: 1px solid red;*/
}

.schedule .dur-60 {
	height: 15em;
/*	border: 1px solid red;*/
}

.item-time {
	float: left;
	line-height: 1.1;
	font-size: 80%;
}

.item-content {
	padding-left: 4em;
	padding-right: 0.5em;
}

.item-presenter {
	clear: none;
	line-height: 1.1;
	background-color: #12a16d;
	color: #fff;
	padding: 0.2em 0.4em;
	margin-bottom: 0.5em;
}

.item-title {
	line-height: 1.1;
	font-size: 80%;
}
